################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ReproDotNet50/Properties/launchSettings.json
/src/ReproDotNetCore31/Properties/launchSettings.json
